*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/app/src/main/java/sparespark/worldwide/news/core/Secret.kt
/app/src/main/java/sparespark/worldwide/news/data/db
/app/src/main/java/sparespark/worldwide/news/data/provider/countrycodes
/app/src/main/java/sparespark/worldwide/news/data/network/datasource
/app/src/main/java/sparespark/worldwide/news/data/network/response
/app/src/main/java/sparespark/worldwide/news/ui/articlelist/ArticleListView.kt
